* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 12px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 28px;
    height: 150px;
    letter-spacing: 0.5px;
    width: 325px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card--details {
    display: flex;
    flex-direction: column;

}

.card--details-name {
    font-size: 1.25rem;
    margin-bottom: 4px;
    font-weight: 800;
}

.card--details-link {
    font-size: 1rem;
}

.card--img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid black;
}
